{% extends 'base.html'%}
{% load static %}
{% block content %}
<section class="wf100 p100 inner-header">
   <div class="container">
      <h1>Biz haqimizda</h1>
      <ul>
         <li><a href="{% url 'home-page'%}">Institut</a></li>
         <li><a href="{% url 'aboutPages' %}">Biz haqimizda</a></li>
      </ul>
   </div>
</section>
<!--Inner Header End-->
<!--About Start-->
<section class="wf100 about">
   <!--About Txt Video Start-->
   <section class="home2-about wf100 p100 gallery">
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <div class="video-img">
                   <img src="{% static 'images/main Photo.jpg'%}">
               </div>
            </div>
            <div class="col-md-7">
              <div class="h2-about-txt">
                  <h4>
                    Butunjahon atrof-muhit kuni munosabati bilan O’zbekiston Respublikasi Ekologiya, atrof-muhitni mohofaza qilish va iqlim o’zgarishi vaziri Aziz Abduhokimovning tabrik so'zi
                  </h4>
                  <p>
                     <a class="aboutus" href="https://uznature.uz/ru/site/news?id=3279">Batafsil</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
    </section>
   <!--About Txt Video End-->
   <!--Our Success Story Start-->

   <div class="our-success-story wf100">
      <div class="container">
         <div class="row">
            <div class="col-lg-4">
               <div class="story-title-bg"> <strong class="t1">Eco Ilm</strong> <strong class="t2">20+</strong> <strong class="t3">Yillik tajriba</strong>
               </div>
            </div>
            <div class="col-lg-8">
               <div class="section-title-2">
                  <h5>Bizning Tariximiz Haqida</h5>
                  <h2>Bizning Muvaffaqqiyat Tariximiz</h2>
               </div>
               <!--eco History Start-->
               <div class="eco-history">
                  <div class="timeline-slider">
                     <div class="timeline-nav">
                        <div><span><strong>1964 - 1967</strong></span></div>
                        <div><span><strong>1967 - 2017</strong></span></div>
                        <div><span><strong>2017 - 2018 </strong></span></div>
                        <div><span><strong>2018 - 2023</strong></span></div>
                     </div>
                     <div class="timeline">
                        <!--Timeline Text Start-->
                        <div>
                           <div class="row">
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6>Biz Boshladik</h6>
                                    <p> Toshkent suv ta’minoti, kanalizatsiya, gidrotexnika inshootlari va muhandislik gidrogeologiyasi (ToshNII 'VODGЕO') instituti.   </p>
                                 </div>
                              </div>
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6>Mehnatning Samarasi</h6>
                                    <p> 1960 yilda Markaziy Osiyo arxitektura va qurilish ilmiy-tadqiqot institutida aholi punktlari sanoatining suv xo‘jaligi laboratoriyasi sifatida tashkil etilgan.  </p>
                                 </div>
                              </div>
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6>Ish </h6>
                                    <p>  1964 yilda U 'VODGЕO' Butunittifoq ilmiy-tadqiqot institutida suv xo‘jaligi bo‘limi, 1978 yilda esa 'VODGЕO' Butunittifoq ilmiy-tadqiqot institutining Toshkent filialiga aylantirildi. </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--Timeline Text End-->
                        <!--Timeline Text Start-->
                        <div>
                           <div class="row">
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6>Mehnatning Samarasi</h6>
                                    <p>  1992 yil dekabr oyidan boshlab institut O‘zbekiston Respublikasi Tabiatni muhofaza qilish davlat qo‘mitasining tarkibiy bo‘linmasi hisoblanadi.  </p>
                                 </div>
                              </div>
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6>Ish</h6>
                                    <p>  O‘zbekiston Respublikasi Prezidentining 2017 yil 21 apreldagi PQ-2915-sonli 'O‘zbekiston Respublikasi Ekologiya va atrof-muhitni muhofaza qilish davlat qo‘mitasi faoliyatini tashkil etishni ta’minlash chora-tadbirlari to‘g‘risida' gi farmonini bajarish maqsadida. </p>
                                 </div>
                              </div>
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6> Biz Boshladik </h6>
                                    <p>Guvohnomaning 2017 yil 21 avgustdagi 538681-sonli ma’lumotiga ko‘ra, O‘zbekiston Respublikasi Ekologiya va atrof-muhitni muhofaza qilish davlat qo‘mitasi, O‘zbekiston Respublikasi Ekologiya va atrof-muhitni muhofaza qilish ilmiy-tadqiqot instituti ish faoliyatini boshladi.  </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--Timeline Text End-->
                        <!--Timeline Text Start-->
                        <div>
                           <div class="row">
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6> Biz Boshladik</h6>
                                    <p> O‘zR Davlat Ekologiya qo‘mitasi huzuridagi Ekologiya va atrof-muhitni muhofaza qilish ilmiy-tadqiqot instituti ToshITI 'SUVGЕO', 'ITLTI ATMOSFЕRA' va NPGP 'Suvni boshqarish ekologiyasi' ning huquqiy vorisi bo‘lgan.  </p>
                                 </div>
                              </div>
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6>Mehnatning Samarasi</h6>
                                    <p> O‘zbekiston Respublikasi Vazirlar Mahkamasining 2018 yil 26 noyabrdagi 958-sonli 'Ekologiya va atrof-muhitni muhofaza qilish sohasidagi ilmiy tadqiqot bazasini yanada rivojlantirish chora-tadbirlari to‘g‘risida' gi qarorini bajarish. </p>
                                 </div>
                              </div>
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6>Ish </h6>
                                    <p> O‘zbekiston Respublikasi Ekologiya bo‘yicha davlat qo‘mitasining 2018 yil 29 noyabrdagi 417-sonli buyrug‘iga asosan O‘zbekiston Respublikasi Davlat ekologiya qo‘mitasi huzuridagi Atrof-muhit va tabiatni muhofaza qilish texnologiyalar ilmiy-tadqiqot instituti' ga aylantirildi. </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--Timeline Text End-->
                        <!--Timeline Text Start-->
                        <div>
                           <div class="row">
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6>Mehnatning Samarasi</h6>
                                    <p> Hozirgi vaqtda chiqindilarni va tabiiy suvlarni toksik moddalardan, og‘ir metallardan, biogen elementlardan tozalash, suv, tuproq va tuproqlarni neft mahsulotlaridan tozalash bo‘yicha ishlanmalar eng katta qiziqish va dolzarblikdir. </p>
                                 </div>
                              </div>
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6>Ish</h6>
                                    <p>  Institut respublikamizdagi ifloslanishni kamaytirish va sanoat, qishloq xo‘jaligi va kommunal obyektlardan tabiiy suv manbalariga quyiladigan chiqindi suvlar hajmini kamaytirishga qaratilgan.Suvni muhofaza qilish texnologiyalarini ishlab chiqish bo‘yicha asosiy tadqiqot tashkilotlaridan biri hisoblanadi </p>
                                 </div>
                              </div>
                              <div class=" col-4">
                                 <div class="timeline-box">
                                    <h6>Biz boshladik</h6>
                                    <p> Shahar kanalizatsiya tizimiga va ochiq suv havzalariga tushirish me’yorlariga erishish, shu bilan ochiq suv havzalari hamda atrof-muhitga antropogen bosimni kamaytirishga imkon beradigan maishiy va ishlab chiqarish chiqindi suvlari, ularning aralashmalarini tozalash va tozalashdan so‘ng qilinadigan tadbirlarni ishlab chikadi.  </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                           </div>
                        </div>
                        <!--Timeline Text End-->
                     </div>
                  </div>
               </div>
               <!--Political History End-->
            </div>
         </div>
      </section>
      <div id="vazifafunksiyalar" class="choose-ecova wf100 p80">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title-2">
                     <h5>Vazifa va Funksiyalar </h5>
                     <h2>Vazifalar</h2>
                  </div>
                  <div class="row">
                     <div class="row">
                        <div class="col-lg-6">
                           <div class="eco-box">
                              <span class="econ-icon"><i class="fa-solid fa-circle-1"></i> </span>
                              <!-- <h5>  Asosiy Vazifalar </h5> -->
                              <p>
                           – havoning ifloslanishini, suv va yer resurslarini kamaytirish, biologik xilma-xillikni saqlash, chiqindilarni qayta ishlash va yoʼq qilish boʼyicha printsipial jihatdan yangi va samarali usullar hamda texnologiyalarni ishlab chiqish;
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="eco-box">
                              <span class="econ-icon"><i class="fa-solid fa-circle-2"></i></fa-solid></span>
                              <!-- <h5> Asosiy Ish Joylari </h5> -->
                              <p>– atmosfera havosi, suv va yer resurslari ifloslanishining kamayishini taʼminlaydigan, shuningdek chiqindilarni qayta ishlash va yoʼq qilishni taʼminlaydigan maishiy va ishlab chiqarish maqsadlarida texnik vositalarni ishlab chiqish, eksperimental loyihalashtirish;
                              </p>
                           </div>
                        </div>
                  </div>
                  <div class="row">
                     <div class="col-6">
                        <div class="eco-box">
                           <span class="econ-icon"><i class="fa-solid fa-circle-3"></i></span>
                           <!-- <h5> Effektiv Sabablar </h5> -->
                           <p>                                  
                              – ekologiya va atrof-muhitni muhofaza qilish sohasida xorijiy ilmiy tadqiqot muassasalari va markazlari bilan hamkorlikni rivojlantirish, ilmiy konferentsiyalar, seminarlar, qoʼshma tadqiqotlar, loyihalar, stajirovkalar va xodimlarni tayyorlashni tashkil etish;
                              </p>
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="eco-box">
                           <span class="econ-icon"> <i class="fa-sharp fa-solid fa-circle-4"></i></span>
                           <!-- <h5> Mag'lab Yig'ish </h5> -->
                           <p> – yuqori malakali kadrlarni tayyorlashda, oliy oʼquv yurtlari oʼqituvchilarini ekologiya va atrof-muhitni muhofaza qilish sohasidagi mutaxassislarni xalqaro standartlar darajasida qayta tayyorlash va malakasini oshirishda ishtirok etish.</p>
                        </p>
                        </div>
                     </div>
                  </div>
                     <div class="funksiyalar">
                     <h2>Funksiyalar</h2>
                  </div>
               </div>
                  <div class="row">
                     <div class="col-6">
                        <div class="eco-box">
                           <span class="econ-icon"><i class="fa-solid fa-circle-5"></i> </span>
                           <!-- <h5>  Asosiy Vazifalar </h5> -->
                           <p>
                              – Oʼzbekiston Respublikasi Prezidentining 2017 yil 21 apreldagi PQ - 2916-sonli ”2017 - 2021 yillarda chiqindilarni boshqarish
                              tizimini tubdan takomillashtirish va rivojlantirish chora-tadbirlari toʼgʼrisida” gi farmoni ijrosi yuzasidan institut tomonidan
                              ”Oʼzbekiston Respublikasi hududida qattiq maishiy chiqindilarni toʼplash meʼyorlarini aniqlash boʼyicha eksperimental oʼrganish va
                              xronometraj ishlarini olib borish”.
                           </p>
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="eco-box">
                           <span class="econ-icon"><i class="fa-solid fa-circle-6"></i></fa-solid></span>
                           <!-- <h5> Asosiy Ish Joylari </h5> -->
                           <p> – ”Tijorat mahsulotlarini olish uchun avtomobil shinalarini kompleks ravishda qayta ishlashning energiya tejaydigan usulini ishlab chiqish”. Eskirgan avtomobil shinalarini yaxlit quruq usulda qayta ishlash texnologiyasini ishlab chiqish. Ekologik toza va iqtisodiy jihatdan maqbul usul va texnologiyadan foydalangan holda rezina buyumlar va ishlatilgan polimer materiallarning umumiy hamda har yili ishlab chiqarilgan salohiyatini qayta ishlash zavodining yangi texnologik sxemasini ishlab chiqish. (Ish tashabbuskor ravishda olib borildi, laboratoriya sinovlari uchun qoidalar mavjud).
                           </p>
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="eco-box">
                           <span class="econ-icon"><i class="fa-solid fa-circle-7"></i></span>
                           <!-- <h5> Effektiv Sabablar </h5> -->
                           <p>                                  
                              – Bizning ekologik loyihalarni ishlab chiqishda tajribamiz bor 2017 yilda boʼlim xodimlari tomonidan ”INTER CAPS GROUP” MChJ kabi korxonalar va tashkilotlar uchun ZVOS va ZEP ishlari olib borildi (polipropilen va metall butlovchi qismlardan mahsulotlar ishlab chiqarish), MChJ ”MAX MILLING LEADER” (DSU ishlab chiqarishni tashkil etish uchun), MChJ QK ”MAXAM UZBEKISTAN” (konchilik sanoati uchun moʼljallangan patronli emultsion portlovchi moddalarni ishlab chiqarishni tashkil etish uchun) MChJ QK ”METAL SOLUTION TEHNOLOGIES” (sanitariya-texnik buyumlar (latun armaturalari) ishlab chiqarish ustaxonasini tashkil etish uchun va boshqalar.
                           </p>
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="eco-box">
                           <span class="econ-icon"> <i class="fa-sharp fa-solid fa-circle-8"></i></span>
                           <!-- <h5> Mag'lab Yig'ish </h5> -->
                           <p>– TESlarining kul va siruf chiqindilaridan foydalangan holda gazni qayta ishlash zavodlaridan chiqadigan gaz chiqindilarini oltingugurt oksidlaridan sorbtsion-katalitik usul bilan tozalash texnologiyasini ishlab chiqish. Sanoat va issiqlik energetikasining qattiq chiqindilaridan elektrostantsiyalardan chiqadigan gaz chiqindilarini tozalash uchun, keyinchalik sanoat chiqindi suvlarini tozalash uchun sarflangan sorbtsiya-katalitik tizimidan foydalanish.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                  <div class="volunteer-form">
                     <div class="section-title">
                        <h3>Veb sayt orqali murojat qilish</h3>
                     </div>
                     <ul>
                        <div class="row">
                           <li class="col-lg-6">
                              <input type="text" class="form-control" placeholder="Ismingizni kiriting" aria-label="Your Name">
                           </li>

                           <li class="col-lg-6">
                              <input type="text" class="form-control" placeholder="Email Addressni kiriting" aria-label="Email Address">
                           </li>
                        </div>

                        <div class="row">
                            <li class="col-lg-6">
                           <input type="text" class="form-control" placeholder="Telefon Raqamni kiriting" aria-label="Contact">
                        </li>
                        <li class="col-lg-6">
                           <input type="text" class="form-control" placeholder="Manzilingizni Kiriting" aria-label="Contact">
                        </li>
                        </div>
                        <li class="col-lg-12">
                           <textarea class="form-control" placeholder="Muroajatlaringizni kiriting"></textarea>
                        </li>
                        <li>
                           <input type="submit" class="fsubmit" value=" Ro'yhatdan o'tish">
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Why you Need to Choose Ecova End-->
      </section>

      <section class="wf100 p80 team">
         <div class="team-grid">
            <div class="container">
               <div class="row">
                  <!--Team Box Start-->
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="team-box">
                        <img style="width: 360px; height: 480px;" src="{% static 'images/Pulatov.jpg' %}" alt="">
                        <div class="team-info">
                           <h6 style="color:aliceblue">Pulatov Baxtiyor Alimovich</h6>
                           <p>Direktor</p>
                           <ul>
                              <li>Elektron pochta: eco_nii@uznature.uz <br>
                                 Qabul kunlari Dushanba-Juma <br>
                                 Qabul vaqti: 10:00 - 12:00
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div> 
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="team-box">
                        <img style="width: 360px; height: 480px;"  src="{% static 'images/Buriyev.jpg' %}" alt="">
                        <div class="team-info">
                           <h6 style="color:aliceblue">Buriyev Salim Samedjanovich</h6>
                           <p>Innovatsiyalar bo‘yicha o‘rinbosari</p>
                           <ul>
                              <li>
                                 Elektron pochta: s.buriyev@eco.gov.uz
                                 <br>
                                 Qabul kunlari Seshanba Payshanba
                                 <br>
                                 Qabul vaqti: 10:00 - 12:00</li>
                              
                           </ul>
                        </div>
                     </div>
                  </div> 
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="team-box">
                        <img style="width: 360px; height: 480px;" src="{% static 'images/aminov.jpg' %}" alt="">
                        <div class="team-info">
                           <h6 style="color:aliceblue"> Aminov Xamza Xusanovich</h6>
                           <p>Ilmiy ishlar bo‘yicha direktor o‘rinbosari</p>
                           <ul>
                              
                              <li>Elektron pochta: eco_nii@uznature.uz

                                 Qabul kunlari Chorshanba
                                 <br>
                                 Qabul vaqti: 10:00 - 12:00</li>
                           </ul>
                        </div>
                     </div>
                  </div> 
               </div>
            </div>
         </div>
      </section>
                  
      <section>

      <div style="display: block; margin-left: 20%;" class="tuzilma">
         <h4>Atrof muhit va tabiatni muhofaza qilish texnologiyalari ilmiy-tadqiqot institutining</h4>
         <h2 style="margin-left: 20%"> TUZILMASI</h2>
         <img style=" width: 1000px; height: 1000px;" src="{% static 'images/tuzilma2.jpg' %}" alt="Tuzilma rasmi">
      </div>
      <div style="margin-left: 20%; font-weight: 600; color: #222;" class="izoh-tuzilma">
            <h4 >IZOH</h4>
            <p>
               - Xodimlarning umumiy cheklangan soni - 35 ta ( ilmiy yordamchi va yordamchi hodimlardan tashqari)  <br>
               - Ilmiy-tadqiqod instituti bajaradigan ilmiy-tadqiqot ishlarining xajmidan kelib chiqib , ilmiy-texnik loyihalarni amalga oshirish uchun <br>
               ilmiy xodimlar shartnoma asosida javob qilinishi mumkin. <br>
               - Ilmiy yordamchi , texnik va yordamchi xodimlar soni qonunchilik xujjatlariga muvofiq normativlar asosida belgilanadi. <br>
               * Budjetdan tashqari mablag'lar hisobiga moliyalashtiriladi. <br>
            </p>
         </div>
   </section>

   {% endblock content %}
   {% block footer %}
   {% for footerNew in footerNews %}
    <li>
       <img class="yangiliklar" src="{{ footerNew.image.url }}" alt="">
       <strong><a href="{% url 'news-detail' footerNew.id %}">{{footerNew.title|truncatewords:7}}</a></strong>
       <span class="pdate"><i>Chop etildi:</i> {{footerNew.created_at|date}}</span>
    </li>
   {% endfor %}
   {% endblock footer%}
