{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="{% static '/images/website-logo.png' %}">
      <title>Atrof-muhit va tabiatni muhofaza qilish texnologiyalari ilmiy-tadqiqot instituti</title>
      <!-- CSS FILES START -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" >
      <link rel="stylesheet" type="text/css" href="{% static 'css/color.css' %}" >
      <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" >
      <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}" >
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/prettyPhoto.css' %}" >
      <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}" >
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   </head>
   <style>
       .patner__div{
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
         height: 250px;
         width: 250px;
         display: flex;
         justify-content: center;
         align-items: center;
         background: linear-gradient(to right, #1cd8d2, #93edc7);
         color: white;
         margin: 100px 0;
         border-radius: 7px;
      }
       .joy{
            width: 285px;
            height: 100px;
            margin-top: 20px;
         }
         .ikonkachalar{
            color: green;
            font-size: 30px;
            padding: 15px;
            margin-top: 20px;
         }
         .ikonkachalar:hover{
            border-radius: 20px;
            font-size: 40px;
         }
         .yangiliklar{
            width: 68px;
            height: 68px;
         }
         .li-flex{
            display: flex;
         }
         .story-title-bg{
            background: linear-gradient(rgba(204,204,204,1) 0%, rgba(204,204,204,1) 100%);;
         }
         .move{
            margin-right: 10px;
         }
         .footer-yozuv__div{
            display: flex;
            flex-direction: column;
         }
         .footer-yozuv{
            display: flex;
            align-items: flex-start;
         }
         .footer-yozuv i{
            margin-top: 3px;
         }
         .name-footer{
            color: greenyellow;
            font-family: 'Poppins', sans-serif;
            margin-bottom: 15px;
            font-weight: 600;
            font-size:20px;
         }

   </style>
   <body>
      <!--Header Start-->
         <header class="header-style-2">
            <nav class="navbar navbar-expand-lg">
               <a class="navbar-brand" href="{% url 'home-page' %}"><img class="logo-still" src="{% static 'images/website-logo.png' %}" alt=""></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'home-page'%}">Institut</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'aboutPages'%}">Batafsil</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'news-pages' %}">Yangiliklar</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#loyihalarPage">Loyihalar</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'project-detail' %}">Faoliyat</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#boglanish">Bog'lanish</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#ilmiyJurnal">Ilmiy Jurnal</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'openBudget-pages'%]">Ochiq Ma'lumotlar</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </header>
      <!--Header End-->
         {% block content%}
         {% endblock content%}
       <!--Footer Start-->
      <footer class="footer" style="background-color: black;">
         <div class="footer-top wf100">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <!--Footer Widget Start-->
                    <div style="margin-right: 15%;" class="footer-widget footer-qism">
                    <div class="footer-yozuv__div">
                     <div class="footer-yozuv">
                           <img style="width: 50px;height: 50px;margin-right: 20px;" src="{% static 'images/website-logo.png' %}" alt="">
                           <p class="name-footer"> Atrof muhit va tabiatni muhofaza qilish instituti</p>
                     </div>
                     <div style="width: 300px;" class="footer-yozuv">
                           <i style="color: white;" class="fa-solid fa-location-dot move"></i>
                           <p>Oʼzbekiston Respublikasi, Toshkent shahri, Chilonzor  tumani, <br> Bunyodkor shoh koʼchasi, 7-А uy <br></p>
                     </div>
                     <div class="footer-yozuv">
                           <i style="color: white;" class="fa-solid fa-clock move"></i>
                           <p>Ish vaqti : 9.00 - 18.00 <br></p>
                     </div>
                     <div class="footer-yozuv">
                           <i style="color: white;" class="fa-solid fa-mug-hot move"></i>
                           <p>Tushlik : 13.00 - 14.00 <br></p>
                     </div>
                     <div class="footer-yozuv">

                           <p> <i class="fa-solid fa-calendar-days"></i> Dam olish kuni: Shanba, Yakshanba <br></p>
                     </div>
                     <div class="footer-yozuv">
                           <i style="color: white;" class="fa-solid fa-square-envelope move"></i>
                           <p>E-mail : info@eco.gov.uz<br></p>
                     </div>
                     <div class="footer-yozuv">
                           <i style="color: green;" class="fa-solid fa-phone move"></i>
                           <p>Bog'lanish :
                           +998 71 207-11-07<br>
                           (+99871) 207-07-70 <br></p>
                     </div>

                  </div>
                      </div>
                      <!--Footer Widget End-->
                   </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <!--Footer Widget Start-->
                     <div class="footer-widget">
                        <h4>So'nggi Yangiliklar</h4>
                        <ul class="lastest-products">
                           {% block footer%}
                           {% endblock footer%}
                        </ul>
                     </div>
                     <!--Footer Widget End-->
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div style="width: 100%; height: 100%;" class="footer-widget footer-qism">
                            <iframe style="margin-top: 30px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2997.6486414220926!2d69.2254687!3d41.2947508!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b62ad6c0735%3A0x2260c74fb009b861!2z0I7Qt9Cx0LXQutC40YHRgtC-0L0g0KDQtdGB0L_Rg9Cx0LvQuNC60LDRgdC4INCt0LrQvtC70L7Qs9C40Y8g0LLQsCDQsNGC0YDQvtGEINC80YPSs9C40YLQvdC4INC80YPSs9C-0YTQsNC30LAg0pvQuNC70LjRiCDQtNCw0LLQu9Cw0YIg0pvRntC80LjRgtCw0YHQuA!5e0!3m2!1sen!2s!4v1682565479652!5m2!1sen!2s"
                            title="This is a unique title"   width="100%" height="60%" allowFullScreen loading="lazy"></iframe>
                            <div class="joy">
                                <a href="Instagram.com/uzecoit"> <i class="fa-brands fa-instagram ikonkachalar"></i></a>
                                <a href="Facebook.com/uzecoit"> <i class="fa-brands fa-facebook ikonkachalar"></i></a>
                                <a href="https://t.me/Ecoilm"><i class="fa-brands fa-telegram ikonkachalar"></i></a>
                                <a href=" YouTube.com/@uzecoit"><i class="fa-brands fa-youtube ikonkachalar"></i></a>
                            </div>
                        </div>
                </div>
            </div>
         </div>
         <!-- ifraganus logo start-->
         <div class="footer-copyr wf100">
            <div class="container">
               <div class="row">
                  <div class="col-md-4 col-sm-4"> <img src="{% static 'images/iFraganus-IT-team-logo.jpg' %}" alt="iFragnus-team-logo"> </div>
                  <div class="col-md-8 col-sm-8">
                     <p> All Rights Reserved of iFragnus Team, Design & Developed By: iFragnus Team  </p>
                  </div>
               </div>
            </div>
         </div>
         </div>
         <!-- ifraganus logo start-->
      </footer>
      <!--Footer End-->
      <script type="text/javascript" src="{% static '/bootstrap/js/jquery-3.3.1.min.js' %}" ></script>
      <script type="text/javascript" src="{% static '/bootstrap/js/jquery-migrate-1.4.1.min.js'%}" ></script>
      <script type="text/javascript" src="{% static '/bootstrap/js/popper.min.js' %}" ></script>
      <script type="text/javascript" src="{% static '/bootstrap/js/bootstrap.min.js' %}" ></script>
      <script type="text/javascript" src="{% static '/owlcarousel/owl.carousel.min.js' %}" ></script>
      <script type="text/javascript" src="{% static '/bootstrap/js/jquery.prettyPhoto.js' %}" ></script>
      <script type="text/javascript" src="{% static '/slick/slick.min.js'%}" ></script>
      <script type="text/javascript" src="{% static '/bootstrap/js/isotope.min.js' %}" ></script>
      <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
      <script>

   $(document).ready(function(){

    $('.owl-carousel').owlCarousel({
          items: 4, // no. of items
          nav: true, // if you want navigation arrows make it true otherwise false
          dots: true // if you want pagination dots make it true otherwise false
        });
          AOS.init({
           duration: 3000
            });
      });
      </script>

   </body>
</html>