{% extends 'base.html'%}
{% load static %}
{% block content %}
   <!--Inner Header Start-->
   <section class="wf100 p100 inner-header">
      <div class="container">
         <h1>Barcha Loyihalar</h1>
         <ul>
             <li><a href="{% url 'home-page' %}">Institut</a></li>
            <li><a href="{% url 'first-projects' %}">Loyihalar</a></li>
         </ul>
      </div>
   </section>
   <!--Inner Header End-->
   <!--Causes Start-->
   <section class="wf100 p80 events">
      <div class="event-list">
         <div class="container">
            <h2 style="text-align: center; margin-bottom: 50px;">Bioxilmaxillikni saqlash bo'yicha 2020-2023 yillar davomida amalga oshirilgan loyihalar</h2>
            <div class="row">
               <div class="col-lg-9 col-md-8">
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <img src="{% static 'images/toshkent-kochat.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2020 yil</li>
                        </ul>
                        <h5> Toshkent shahrining markaziy ko‘cha, bog‘ va xiyobonlaridagi daraxt-butalariga shakl berish, kesish, ko‘chirib o‘tkazish agrotexnologiyalarini ishlab chiqish.</h5>
                     </div>
                  </div>
                  <!--Project Box End-->
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/qushlar-sanoq.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2020 yil</li>
                        </ul>
                        <h5> O‘zbekiston suv havzalarida suv qushlarining qishki sanog‘ini o‘tkazish bo‘yicha. </h5>
                     </div>
                  </div>
                  <!--Project Box End-->
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/suv-gul.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2021 yil</li>
                        </ul>
                        <h5> Orol dengizi hududida Qizilmiya o‘simligining  hisobini yuritish uchun ularning tarqalish areallari va zaxirasini aniqlash. </h5>
                     </div>
                  </div>
                  <!--Project Box End-->
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/kovrak-gul.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2021 yil</li>
                        </ul>
                        <h5> Kovrak o‘simligining  hisobini yuritish uchun ularning tarqalish areallari va zaxirasini aniqlash. </h5>
                     </div>
                  </div>
                  <!--Project Box End-->
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/shortan-neft.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2021 yil</li>
                        </ul>
                        <h5> Sho‘rtan neft va gaz qazib chiqarish boshqarmasi (SHNGQB) hududidan chiqadigan organik birikmalar bilan ifloslangan oqova suvlarni biologik usulda tozalash. </h5>
                     </div>
                  </div>
                  <!--Project Box End-->
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/qizil-kitob.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2022 yil</li>
                        </ul>
                        <h5> O‘zbekiston Respublikasi “Qizil kitobi”ga kiritilmagan yovvoyi hayvon va qushlarning sonini hisobga olishni amalga oshirish. </h5>
                     </div>
                  </div>
                  <!--Project Box End-->
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/qishla-qush.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2022 yil</li>
                        </ul>
                        <h5> O‘zbekiston Respublikasi ochiq suv havzalarida qishlab qoluvchi suv qushlarining qishki sanog‘ini o‘tkazish. </h5>
                     </div>
                  </div>
                  <!--Project Box End-->
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/qizil-ekpert.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2022 yil</li>
                        </ul>
                        <h5> O‘zbekiston Respublikasi “Qizil kitobi”ga kiritilmagan yovvoyi hayvon va qushlarning sonini hisobga olishni amalga oshirish, olingan hisob maʼlumotlari asosida ekspert xulosalarini tayyorlash </h5>
                     </div>
                  </div>
                  <!--Project Box End-->
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/shortan-daraxt.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2022 yil</li>
                        </ul>
                        <h5> Sho‘rtan  neft va gaz qazib chiqarish boshqarmasi hududida mavjud ignabargli, manzarali daraxt va butalarning sanitar holatini o‘rganish hamda  o‘simliklarda aniqlangan kasallik va zararkunandalariga  qarshi kurashish. </h5>
                     </div>
                  </div>
                  <!--Project Box End-->
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/qush-sutemizchi.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2023 yil</li>
                        </ul>
                        <h5> Farg‘ona vodiysi hududida iqtisodiy ahamiyatga ega qushlar va sut emizuvchilarning davlat hisobi va kadastrini yuritish. </h5>
                     </div>
                  </div>
                  <!--Project Box End-->
                  <!--Project Box Start-->
                  <div class="pro-list-box">
                     <div class="pro-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/qishla-qush2.jfif' %}" alt=""> </div>
                     <div class="pro-txt">
                        <ul class="event-meta">
                           <li>2020 yil</li>
                        </ul>
                        <h5> O‘zbekiston suv havzalarida suv qushlarining qishki sanog‘ini o‘tkazish bo‘yicha </h5>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--Causes End-->
{%endblock content %}
{%block footer %}
   {% for footerNew in footerNews%}
      <li> <img class="yangiliklar" src="{{ footerNew.image.url }}" alt="">
         <strong>
            <a href="{% url 'news-detail' footerNew.id %}">{{footerNew.title|truncatewords:7}}</a>
         </strong>
         <span class="pdate"><i>Chop etildi:</i>{{footerNew.created_at}}</span>
      </li>
{% endfor %}
{%endblock footer%}
