{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="wrapper home2" style="width:100%">
   <!--Slider Start-->
   <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
     <div class="carousel-indicators">
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
     </div>

     <div class="carousel-inner">
       <div class="carousel-item active">
         <img  src="{% static 'images/slide2.jpg' %}" class="d-block w-100" alt="...">
       </div>
       <div class="carousel-item">
         <img  src="{% static 'images/slide1.jpg' %}" class="d-block w-100" alt="...">
       </div>
       <div class="carousel-item">
         <img src="{% static 'images/h2-slide1.jpg' %}" class="d-block w-100" alt="...">
       </div>
        <div class="carousel-item">
         <img src="{% static 'images/h2-slide2.jpg' %}" class="d-block w-100" alt="...">
       </div>
        <div class="carousel-item">
         <img src="{% static 'images/h2-slide3.jpg' %}" class="d-block w-100" alt="...">
       </div>
     </div>

     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>

     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>

   </div>

<!--   <section class="new-home-slider" class="owl-theme wf100">-->
<!--      <div class="item">-->
<!--         <div class="slider-caption h2slider">-->
<!--            <div class="container" style="padding-top:20%">-->
<!--               <a href="#" class="active">Ko'proq</a> <a href="#">Qo'shilish</a>-->
<!--            </div>-->
<!--         </div>-->
<!--         <img style="width:100%; height:80%" src="{% static 'images/slide2.jpg' %}" alt="">-->
<!--      </div>-->
<!--      <div class="item">-->
<!--         <div class="slider-caption h2slider">-->
<!--            <div class="container" style="padding-top:20%">-->
<!--               <a href="#" class="active">Ko'proq</a> <a href="#">Qo'shilish</a>-->
<!--            </div>-->
<!--         </div>-->
<!--         <img style="width:100%; height:80%" src="{% static 'images/slide1.jpg' %}" alt="">-->
<!--      </div>-->
<!--      <div class="item">-->
<!--         <div class="slider-caption h2slider">-->
<!--            <div class="container">-->
<!--               <strong>Eco Ilm<span> eng Zo'ri</span></strong>-->
<!--               <h1>Ekologik Toza</h1>-->
<!--               <p>Notijorat WordPress mavzusi</p>-->
<!--               <a href="#" class="active">Ko'proq</a> <a href="#">Qo'shilish</a>-->
<!--            </div>-->
<!--         </div>-->
<!--         <img src="{% static 'images/h2-slide1.jpg' %}" alt="">-->
<!--      </div>-->
<!--      <div class="item">-->
<!--         <div class="slider-caption h2slider">-->
<!--            <div class="container">-->
<!--               <strong><span>Iltimos</span> Ovni To'xtating & </strong>-->
<!--               <h1>Yovvoyi tabiat saqlang</h1>-->
<!--               <p><strong>dunyodagi yo'qolib ketish xafvi ostida turgan hayvonlardan</strong></p>-->
<!--               <a href="#" class="active">Ko'proq</a> <a href="#">Qo'shilish</a>-->
<!--            </div>-->
<!--         </div>-->
<!--            <img src="{% static 'images/h2-slide2.jpg' %}" alt="">-->
<!--         </div>-->
<!--      <div class="item">-->
<!--         <div class="slider-caption h2slider">-->
<!--            <div class="container">-->
<!--               <strong>Tejang <span> & umrimizni behuda sarflamang</span> do'stim</strong>-->
<!--               <h1>Suv resurslari</h1>-->
<!--               <p>Biz uchun <strong>juda kech</strong> bo'lishidan oldin ...</p>-->
<!--               <a href="#" class="active">Ko'proq</a> <a href="#">Qo'shilish</a>-->
<!--            </div>-->
<!--         </div>-->
<!--         <img src="{% static 'images/h2-slide3.jpg' %}" alt="">-->
<!--      </div>-->


<!--   </section>-->
   <!--Slider End-->
   <!--Service Area Start-->
   <section class="services-area wf100 p100">
      <h4 class="services-area__title">O`zbekiston Respublikasidagi muhofaza tabiiy etiladigan hududlar</h4>
      <div class="services-area__content">
         <ul>
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/earth-day.png" alt="">
                  <h6>7 ta</h6>
                  <p>Davlat Qo'riqxonasi</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/earth-day.png" alt="">
                  <h6>1 ta</h6>
                  <p>Majmua Qo'riqxonasi</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/environment.png" alt="">
                  <h6>12 ta</h6>
                  <p>Tabiat Bog'i</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/environment.png" alt="">
                  <h6>1 ta</h6>
                  <p>Milliy Bog'</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/ecology.png" alt="">
                  <h6>11 ta</h6>
                  <p>Tabiat Yodgorligi</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/ecology.png" alt="">
                  <h6>2 ta</h6>
                  <p>Biosfera Reservati</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/earth-day.png" alt="">
                  <h6>12 ta</h6>
                  <p>Buyurtma Qo'riqxonasi</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/earth-day.png" alt="">
                  <h6>1 ta</h6>
                  <p>Jayron maxsus pitomnigi</p>
               </div>
            </li>
            <!--box  end-->
         </ul>
      </div>
   </section>
   <!--Service Area End-->
   <!--About Section Start-->
   <section class="home2-about wf100 p100 gallery">
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <div class="video-img"> <a href="https://youtu.be/UL0V0M7ZRxo" data-rel="prettyPhoto" title="Vimeo video"><i class="fas fa-play"></i></a>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UL0V0M7ZRxo" title="YouTube video player" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </div>
            </div>
            <div class="col-md-7">
              <div class="h2-about-txt">
                  <h4>O‘zbekiston Respublikasi Vazirlar Mahkamasining <br>
                     Atrof muhit va tabiatni muhofaza qilish
                     texnologiyalari ilmiy-tadqiqot instituti faoliyatini yanada takomillashtirish chora-tadbirlari to‘g‘risida”
                     2022 yil 18 avgustda VM-458-son qarori qabul qilindi. </h4>
                  <p>
                     <a class="aboutus" href="https://lex.uz/uz/docs/-6162576">Batafsil</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="home-facts counter pt80">
         <div class="container">
            <div class="h2-about-txt">
               <h3> Atrof muhit va tabiatni muhofaza qilish </h3>
            </div>

            <div class="row">
               <div class="col-lg-3 col-sm-6 col-md-3">
                  <div class="counter-box">
                     <p class="counter-count">51</p>
                     <p class="ctxt">Hamkorlik Memorandumlari </p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-md-3">
                  <div class="counter-box">
                     <p class="counter-count">50</p>
                     <p class="ctxt">Amalga Oshirilgan Loyihalar</p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-md-3">
                  <div class="counter-box">
                     <p class="counter-count">15</p>
                     <p class="ctxt">Hamkorlikda Erishilgan Ijobiy Natijalar.</p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-md-3">
                  <div class="counter-box">
                     <p class="counter-count">45</p>
                     <p class="ctxt">Targ'ibot va Tashbiqot Ishlari.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--About Section End-->
   <!--Loyihalar Start-->
   <section class="wf100 p50 current-projects">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <div class="section-title-2">
                  <h5>Bajarilgan hamda hozirgi kunda amalga oshirilayotgan </h5>
                  <h2>Loyihalar</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="tab-content" id="myTabContent">
                  <!--WildLife Slider Start-->
                  <div class="tab-pane fade show active" id="wildlife" role="tabpanel" aria-labelledby="wildlife-tab">
                     <div class="cpro-slider owl-carousel owl-theme">
                        <!--Pro Box-->
                        <div class="item">
                           <div class="pro-box">
                              <img src="{% static 'images/bioxilmaxillik.jpg' %}" alt="">
                              <h5>Bioxilmaxillikni saqlash</h5>
                              <div class="pro-hover">
                                 <h6>Bioxilmaxillikni saqlash</h6>
                                 <p>O‘zbekiston Respublikasi “Qizil kitobi”ga kiritilmagan yovvoyi hayvon va qushlarning sonini hisobga olishni amalga oshirish.</p>
                                 <a href="{% url 'first-projects'%}">Ko'proq</a>
                              </div>
                           </div>
                        </div>
                        <!--Pro Box End-->
                        <!--Pro Box-->
                        <div class="item">
                           <div class="pro-box">
                              <img src="{% static 'images/recycling.jpg' %}" alt="">
                              <h5>Chiqindilarni qayta ishlash va utilizatsiya qilish</h5>
                              <div class="pro-hover">
                                 <h6>Chiqindilarni qayta ishlash va utilizatsiya qilish</h6>
                                 <p>O‘zbekiston Respublikasi hududida qattiq maishiy chiqindilarni to‘planish meʼyorlarini aniqlash bo‘yicha eksperimental xronometraj ishlarini olib borish” loyihasi amalga oshirildi.</p>
                                 <a href="{% url 'second-projects'%}">Ko'proq</a>
                              </div>
                           </div>
                        </div>
                        <!--Pro Box End-->
                        <!--Pro Box-->
                        <div class="item">
                           <div class="pro-box">
                              <img src="{% static 'images/yashil-oshish.jpg' %}" alt="">
                              <h5>Yashil o‘sish va iqlim o‘zgarishi
                              </h5>
                              <div class="pro-hover">
                                 <h6>Yashil o‘sish va iqlim o‘zgarishi
                                 </h6>
                                 <p>Toshkent shahrining markaziy ko‘cha, bog‘ va xiyobonlaridagi daraxt-butalariga shakl berish, kesish, ko‘chirib o‘tkazish agrotexnologiyalarini ishlab chiqish.</p>
                                 <a href="#">Ko'proq</a>
                              </div>
                           </div>
                        </div>
                        <!--Pro Box End-->
                        <div class="item">
                           <div class="pro-box">
                              <img src="{% static 'images/atmosfera.jpg' %}" alt="">
                              <h5> Atmosfera havosini muhofaza qilish
                              </h5>
                              <div class="pro-hover">
                                 <h6> Atmosfera havosini muhofaza qilish
                                 </h6>
                                 <p>Aholi va yuridik shaxslarning QMCHlarni saralashda ekologik madaniyatini oshirishga qaratilgan ilmiy-tadqiqot ishlarini amalga oshirish</p>
                                 <a href="#">Ko'proq</a>
                              </div>
                           </div>
                        </div>
                        <!--Pro Box End-->
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </section>
   <!--Loyihalar End-->
   <!--Yangiliklar bo'limi -->
   <section class="h2-news wf100 p80">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="section-title-2">
                  <h2>Yangiliklar</h2>
               </div>
            </div>
            <div class="col-md-6"> <a href="{% url 'news-pages' %}" class="view-more">Ko'proq Yangiliklar</a> </div>
         </div>
         <div class="row">
             <div class="col-md-6">
               <!--Blog Small Post Start-->
                {% for lastNews in lastNewses %}
                {% if forloop.counter <= 2%}
               <div class="blog-small-post">
                  <div class="post-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{{lastNews.image.url}}" alt=""> </div>
                  <div class="post-txt">
                     <span class="pdate"> <i class="fas fa-calendar-alt"></i> {{lastNews.created_at}}</span>
                     <h5><a href="{% url 'news-detail' lastNews.id %}">{{lastNews.title}}</a></h5>
                     <p>{{lastNews.content|truncatewords:8}}</p>
                     <a href="{% url 'news-detail' lastNews.id %}"    class="rm">Ko'proq</a>
                  </div>
               </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-6">
            {% for lastNews in lastNewses %}
                {% if forloop.counter >= 3%}
               <div class="blog-small-post">
                  <div class="post-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{{lastNews.image.url}}" alt=""> </div>
                  <div class="post-txt">
                     <span class="pdate"> <i class="fas fa-calendar-alt"></i> {{lastNews.created_at}}</span>
                     <h5><a href="{% url 'news-detail' lastNews.id %}">{{lastNews.title}}</a></h5>
                     <p>{{lastNews.content|truncatewords:8}}</p>
                     <a href="{% url 'news-detail' lastNews.id %}" class="rm">Ko'proq</a>
                  </div>
               </div>
                {% endif %}
                {% endfor %}
               <!--Blog Small Post End-->
            </div>
         </div>
      </div>
   </section>
   <!--Yangiliklar bo'limi End-->
   <!--Ilmiy journal-->
   <section class="online-shop wf100 p50">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="section-title-2 text-center">
                <h5>“Ekologiya xabarnomasi” Ijtimoiy-iqtisodiy, ilmiy-amaliy</h5>
                        <p>jurnali so`nggi chop etilgan sonlari</p>
               </div>
            </div>
         </div>
         <div class="row">
            <!--Pro Box Start-->
            {% for journal in lastJournal%}
            <div class="col-md-3 col-sm-6">
               <div class="product-box">
                  <div class="pro-thumb"> <a href="{{ journal.files.url }}">Yuklab olish</a> <img src="{{ journal.image.url }}" alt=""></div>
                  <div class="pro-txt">
                     <h6><a href="#!">{{journal.title}}</a></h6>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </section>
   <!--Ilmiy journal End-->
   <!--Bog'lanish bo'limi-->
   <div id="boglanish" class="choose-ecova wf100 p50">
         <div class="container">
            <div class="row">
            <div class="col-lg-12">
               <div class="volunteer-form">
                  <div class="section-title">
                     <h3>Veb sayt orqali murojat qilish</h3>
                  </div>
                  <ul>
                     <div class="row">
                        <li class="col-lg-6">
                           <input type="text" class="form-control" placeholder="Ismingizni kiriting" aria-label="Your Name">
                        </li>

                        <li class="col-lg-6">
                           <input type="text" class="form-control" placeholder="Email Addressni kiriting" aria-label="Email Address">
                        </li>
                     </div>

                     <div class="row">
                         <li class="col-lg-6">
                        <input type="text" class="form-control" placeholder="Telefon Raqamni kiriting" aria-label="Contact">
                     </li>
                     <li class="col-lg-6">
                        <input type="text" class="form-control" placeholder="Manzilingizni Kiriting" aria-label="Contact">
                     </li>
                     </div>

                     <li>
                        <textarea rows="5" cols="129" placeholder="  Muroajatlaringizni kiriting"></textarea>
                     </li>
                     <li>
                        <input type="submit" class="fsubmit" value=" Ro'yhatdan o'tish">
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         </div>
      </div>
   <!--Bog'lanish bo'limi End -->

   {% endblock content%}
</div>
   {%block footer %}
      {% for footerNew in footerNews%}
         <li> <img class="yangiliklar" src="{{ footerNew.image.url }}" alt="">
            <strong>
               <a href="{% url 'news-detail' footerNew.id %}">{{footerNew.title|truncatechars:100}}</a>
            </strong>
            <span class="pdate"><i>Chop etildi:</i>{{footerNew.created_at|date}}</span>
         </li>
   {% endfor %}
   {%endblock footer%}