{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="wrapper home2">
   <!--Slider Start-->
   <section id="home-slider" class="owl-carousel owl-theme wf100">
      <div class="item">
         <div class="slider-caption h2slider">
            <div class="container">
               <strong>Eco Ilm<span> eng Zo'ri</span></strong>
               <h1>Ekologik Toza</h1>
               <p>Notijorat WordPress mavzusi</p>
               <a href="#" class="active">Ko'proq</a> <a href="#">Qo'shilish</a>
            </div>
         </div>
         <img src="{% static 'images/h2-slide1.jpg' %}" alt="">
      </div>
      <div class="item">
         <div class="slider-caption h2slider">
            <div class="container">
               <strong><span>Iltimos</span> Ovni To'xtating & </strong>
               <h1>Yovvoyi tabiat saqlang</h1>
               <p><strong>dunyodagi yo'qolib ketish xafvi ostida turgan hayvonlardan</strong></p>
               <a href="#" class="active">Ko'proq</a> <a href="#">Qo'shilish</a>
            </div>
         </div>
            <img src="{% static 'images/h2-slide2.jpg' %}" alt="">
         </div>
         <div class="item">
         <div class="slider-caption h2slider">
            <div class="container">
               <strong>Tejang <span> & umrimizni behuda sarflamang</span> do'stim</strong>
               <h1>Suv resurslari</h1>
               <p>Biz uchun <strong>juda kech</strong> bo'lishidan oldin ...</p>
               <a href="#" class="active">Ko'proq</a> <a href="#">Qo'shilish</a>
            </div>
         </div>
         <img src="{% static 'images/h2-slide3.jpg' %}" alt="">
      </div>
   </section>
   <!--Slider End-->
   <!--Service Area Start-->
   <section class="services-area wf100">
      <div class="services-area__content">
         <ul>
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/earth-day.png" alt="">
                  <h6>7 ta</h6>
                  <p>Davlat Qo'riqxonasi</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/earth-day.png" alt="">
                  <h6>1 ta</h6>
                  <p>Majmua Qo'riqxonasi</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/environment.png" alt="">
                  <h6>12 ta</h6>
                  <p>Tabiat Bog'i</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/environment.png" alt="">
                  <h6>1 ta</h6>
                  <p>Milliy Bog'</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/ecology.png" alt="">
                  <h6>11 ta</h6>
                  <p>Tabiat Yodgorligi</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/ecology.png" alt="">
                  <h6>2 ta</h6>
                  <p>Biosfera Reservati</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/earth-day.png" alt="">
                  <h6>12 ta</h6>
                  <p>Buyurtma Qo'riqxonasi</p>
               </div>
            </li>
            <!--box  end-->
            <!--box  start-->
            <li>
               <div class="sinfo">
                  <img src="http://www.ecoilm.uz/earth-day.png" alt="">
                  <h6>1 ta</h6>
                  <p>Jayron maxsus pitomnigi</p>
               </div>
            </li>
            <!--box  end-->
         </ul>
      </div>
   </section>
   <!--Service Area End-->
   <!--About Section Start-->
   <section class="home2-about wf100 p100 gallery">
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <div class="video-img"> <a href="https://youtu.be/UL0V0M7ZRxo" data-rel="prettyPhoto" title="Vimeo video"><i class="fas fa-play"></i></a>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UL0V0M7ZRxo" title="YouTube video player" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </div>
            </div>
            <div class="col-md-7">
               <div class="h2-about-txt">
                  <h3>O‘zbekiston Respublikasi Vazirlar Mahkamasining</h3>
                  <h2>Atrof muhit va tabiatni muhofaza qilish</h2>
                  <p>  texnologiyalari ilmiy-tadqiqot instituti
                     faoliyatini yanada takomillashtirish chora-tadbirlari to‘g‘risida”</p>
                  <p><strong>2022 yil 18 avgustda VM-458-son qarori qabul qilindi</strong></p>
                   <p>Asosiy yo‘nalishlari: atrof muhitning joriy holatini o‘rganish, ifloslantiruvchi moddalarning bioxilma-xillikka, jumladan, noyob, yo‘q bo‘lib ketish ...</p>
                  <a class="aboutus" href="#">Bizga bog'laning</a>
               </div>
            </div>
         </div>
      </div>
      <div class="home-facts counter pt80">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6 col-md-3">
                  <div class="counter-box">
                     <p class="counter-count">51</p>
                     <p class="ctxt">Hamkorlik Memorandumlari </p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-md-3">
                  <div class="counter-box">
                     <p class="counter-count">50</p>
                     <p class="ctxt">Amalga Oshirilgan Loyihalar</p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-md-3">
                  <div class="counter-box">
                     <p class="counter-count">15</p>
                     <p class="ctxt">Hamkorlikda Erishilgan Ijobiy Natijalar.</p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-md-3">
                  <div class="counter-box">
                     <p class="counter-count">45</p>
                     <p class="ctxt">Targ'ibot va Tashbiqot Ishlari.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--About Section End-->
   <!--Current Projects Start-->
   <section class="wf100 p80 current-projects">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <div class="section-title-2">
                  <h5>Biz bular ustida ishlamoqdamiz</h5>
                  <h2>So'ngi Loyihalar</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="tab-content" id="myTabContent">
                  <!--WildLife Slider Start-->
                  <div class="tab-pane fade show active" id="wildlife" role="tabpanel" aria-labelledby="wildlife-tab">
                     <div class="cpro-slider owl-carousel owl-theme">
                        <!--Pro Box-->
                        <div class="item">
                           <div class="pro-box">
                              <img src="{% static 'images/bioxilmaxillik.jpg' %}" alt="">
                              <h5>Bioxilmaxillikni saqlash</h5>
                              <div class="pro-hover">
                                 <h6>Bioxilmaxillikni saqlash</h6>
                                 <p>O‘zbekiston Respublikasi “Qizil kitobi”ga kiritilmagan yovvoyi hayvon va qushlarning sonini hisobga olishni amalga oshirish.</p>
                                 <a href="{% url 'first-projects'%}">Ko'proq</a>
                              </div>
                           </div>
                        </div>
                        <!--Pro Box End-->
                        <!--Pro Box-->
                        <div class="item">
                           <div class="pro-box">
                              <img src="{% static 'images/recycling.jpg' %}" alt="">
                              <h5>Chiqindilarni qayta ishlash va utilizatsiya qilish</h5>
                              <div class="pro-hover">
                                 <h6>Chiqindilarni qayta ishlash va utilizatsiya qilish</h6>
                                 <p>O‘zbekiston Respublikasi hududida qattiq maishiy chiqindilarni to‘planish meʼyorlarini aniqlash bo‘yicha eksperimental xronometraj ishlarini olib borish” loyihasi amalga oshirildi.</p>
                                 <a href="{% url 'second-projects'%}">Ko'proq</a>
                              </div>
                           </div>
                        </div>
                        <!--Pro Box End-->
                        <!--Pro Box-->
                        <div class="item">
                           <div class="pro-box">
                              <img src="{% static 'images/yashil-oshish.jpg' %}" alt="">
                              <h5>Yashil o‘sish va iqlim o‘zgarishi
                              </h5>
                              <div class="pro-hover">
                                 <h6>Yashil o‘sish va iqlim o‘zgarishi
                                 </h6>
                                 <p>Toshkent shahrining markaziy ko‘cha, bog‘ va xiyobonlaridagi daraxt-butalariga shakl berish, kesish, ko‘chirib o‘tkazish agrotexnologiyalarini ishlab chiqish.</p>
                                 <a href="#">Ko'proq</a>
                              </div>
                           </div>
                        </div>
                        <!--Pro Box End-->
                        <div class="item">
                           <div class="pro-box">
                              <img src="{% static 'images/atmosfera.jpg' %}" alt="">
                              <h5> Atmosfera havosini muhofaza qilish
                              </h5>
                              <div class="pro-hover">
                                 <h6> Atmosfera havosini muhofaza qilish
                                 </h6>
                                 <p>Aholi va yuridik shaxslarning QMCHlarni saralashda ekologik madaniyatini oshirishga qaratilgan ilmiy-tadqiqot ishlarini amalga oshirish</p>
                                 <a href="#">Ko'proq</a>
                              </div>
                           </div>
                        </div>
                        <!--Pro Box End-->
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </section>
   <!--Current Projects End-->
   <!--News & Articles Start-->
   <section class="h2-news wf100 p80">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="section-title-2">
                  <h5>Eng So'ngi</h5>
                  <h2>Yangiliklar & Maqolalar</h2>
               </div>
            </div>
            <div class="col-md-6"> <a href="{% url 'news-pages' %}" class="view-more">Ko'proq Yangiliklar</a> </div>
         </div>
         <div class="row">
             <div class="col-md-6">
               <!--Blog Small Post Start-->
                {% for lastNews in lastNewses %}
                {% if forloop.counter <= 2%}
               <div class="blog-small-post">
                  <div class="post-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{{lastNews.image.url}}" alt=""> </div>
                  <div class="post-txt">
                     <span class="pdate"> <i class="fas fa-calendar-alt"></i> {{lastNews.created_at}}</span>
                     <h5><a href="{% url 'news-detail' lastNews.id %}">{{lastNews.title}}</a></h5>
                     <p>{{lastNews.content|truncatewords:8}}</p>
                     <a href="#" class="rm">Ko'proq</a>
                  </div>
               </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-6">
            {% for lastNews in lastNewses %}
                {% if forloop.counter >= 3%}
               <div class="blog-small-post">
                  <div class="post-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{{lastNews.image.url}}" alt=""> </div>
                  <div class="post-txt">
                     <span class="pdate"> <i class="fas fa-calendar-alt"></i> {{lastNews.created_at}}</span>
                     <h5><a href="{% url 'news-detail' lastNews.id %}">{{lastNews.title}}</a></h5>
                     <p>{{lastNews.content|truncatewords:8}}</p>
                     <a href="#" class="rm">Ko'proq</a>
                  </div>
               </div>
                {% endif %}
                {% endfor %}
               <!--Blog Small Post End-->
            </div>
         </div>
      </div>
   </section>
   <!--News & Articles End-->
   <!--Online Products Start-->
   <section class="online-shop wf100 p80">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="section-title-2 text-center">
                  <h5>O'qing bizning eng oxirgi</h5>
                  <h2>Ilmiy Jurnallar</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <!--Pro Box Start-->
            {% for journal in lastJournal%}
            <div class="col-md-3 col-sm-6">
               <div class="product-box">
                  <div class="pro-thumb"> <a href="{{ journal.files.url }}">Yuklab olish</a> <img src="{{ journal.image.url }}" alt=""></div>
                  <div class="pro-txt">
                     <h6><a href="#!">{{journal.title}}</a></h6>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </section>
   <!--Online Products End-->
</div>
{% endblock content%}
{%block footer %}
   {% for footerNew in footerNews%}
      <li> <img class="yangiliklar" src="{{ footerNew.image.url }}" alt="">
         <strong>
            <a href="{% url 'news-detail' footerNew.id %}">{{footerNew.title|truncatewords:7}}</a>
         </strong>
         <span class="pdate"><i>Chop etildi:</i>{{footerNew.created_at}}</span>
      </li>
{% endfor %}
{%endblock footer%}
