    .navbar-brand img{
         width: 70px;
         background-color: white;
         border-radius: 50%;
      }
      .sinfo img{
         width: 80px;
      }
      .services-area__content{
         max-width: 100%;
      }
      .h2-news-img{
         height: 100%;
      }
      .ikonkachalar{
            color: green;
            font-size: 30px;
            padding: 2px;
         }
         .ikonkachalar:hover{
            background-color: aqua;
            border-radius: 20px;
         }
         .yangiliklar{
            width: 68px;
            height: 68px;
         }
         .joy{
            margin-left:20%;
            width: 285px;
            height: 100px;
         }